<form [formGroup]="bookEditForm">
  <div class="header-modal">
    <div class="header-modal-title">Edit book</div>
    <mat-icon mat-dialog-close>close</mat-icon>
  </div>
  <div class="body-modal">
    <div class="form">
      <div class="title">
        <label for="types">Title: </label>
        <input
          formControlName="title"
          placeholder="book title"
          type="text"
          maxlength="100"
          name="title"
          id="title"
        />
      </div>
      <div class="editorial">
        <label for="editorial">Editorial: </label>
        <input
          formControlName="editorial"
          placeholder="editorial name"
          type="text"
          maxlength="100"
          name="editorial"
          id="editorial"
        />
      </div>
      <div class="isbn">
        <label for="isbn">ISBN: </label>
        <input
          formControlName="isbn"
          placeholder="0000000000000"
          type="text"
          maxlength="13"
          name="isbn"
          id="isbn"
        />
      </div>
      <div class="pages">
        <label for="pages">Pages: </label>
        <input
          formControlName="pages"
          placeholder="200"
          type="number"
          maxlength="100"
          name="pages"
          id="pages"
        />
      </div>
      <div class="year">
        <label for="year">Release(year): </label>
        <input
          formControlName="pubYear"
          placeholder="2000"
          type="text"
          maxlength="4"
          name="year"
          id="year"
        />
      </div>
      <div class="price">
        <label for="price">Price:</label>
        <input
          formControlName="price"
          placeholder="200.00"
          type="text"
          name="price"
          id="price"
        />
      </div>
      <div class="sinopsis">
        <label for="sinopsis">Sinopsis: </label>
        <input
          formControlName="sinopsis"
          placeholder="sinopsis"
          type="text"
          maxlength="1000"
          name="sinopsis"
          id="sinopsis"
        />
      </div>
      <div class="categories">
        <label for="categories">Categories: </label>
        <input
          placeholder="category name"
          type="text"
          class="categories-name"
          name="categories-name"
          id="categories-name"
        />
      </div>
      <div class="authors">
        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
          <label for="authors">Authors: </label>
          <button mat-raised-button (click)="addAuthor()" style="background-color: #615c5a; color: #dadad9;">+ Add author</button>
        </div>

        <div formArrayName="authors">
          <div
            class="author-container"
            *ngFor="let _ of getAuthorsFormArray().controls; index as i"
          >
            <div [formGroupName]="i" class="author-container"
              style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin: .5rem 0;"
            >
              <input
                placeholder="author name"
                class="author-input"
                type="text"
                maxlength="50"
                formControlName="name"
              />
              <input
                placeholder="author last name"
                class="author-input"
                type="text"
                maxlength="50"
                formControlName="lastName"
              />
              <mat-icon class="remove-author-icon" (click)="deleteAuthor(i)"
                style="background-color: #b54e56; color: #dadad9;"
              >close</mat-icon
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-modal">
    <button class="footer-modal-btn-cancel" mat-flat-button mat-dialog-close>
      Cancel
    </button>
    <button
      (click)="onEdit()"
      class="footer-modal-btn-acept"
      mat-flat-button
    >
      Save
    </button>
  </div>
</form>

