<div class="grid-container">
  <div class="grid-head">
    <div class="grid-title">All Books</div>
    <button mat-raised-button class="btn-new-book" (click)="addBook()"> <mat-icon>add</mat-icon> Add new book</button>
  </div>
  <div class="grid-body">
    <table mat-table [dataSource]="books">
      <ng-container matColumnDef="id" class="id-column">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let book">{{ book.id }}</td>
      </ng-container>
      <ng-container matColumnDef="title" class="title-column">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let book">{{ book.title }}</td>
      </ng-container>
      <ng-container matColumnDef="pages" class="pages-column">
        <th mat-header-cell *matHeaderCellDef>Pages</th>
        <td mat-cell *matCellDef="let book">{{ book.pages }}</td>
      </ng-container>
      <ng-container matColumnDef="editorial" class="editorial-column">
        <th mat-header-cell *matHeaderCellDef>Editorial</th>
        <td mat-cell *matCellDef="let book">{{ book.editorial }}</td>
      </ng-container>
      <ng-container matColumnDef="isbn" class="isbn-column">
        <th mat-header-cell *matHeaderCellDef>ISBN</th>
        <td mat-cell *matCellDef="let book">{{ book.isbn }}</td>
      </ng-container>
      <ng-container matColumnDef="price" class="price-column">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let book">${{ book.price.toFixed(2) }}</td>
      </ng-container>
      <ng-container matColumnDef="sinopsis" class="sinopsis-column">
        <th mat-header-cell *matHeaderCellDef>Sinopsis</th>
        <td mat-cell *matCellDef="let book">{{ book.sinopsis }}</td>
      </ng-container>
      <ng-container matColumnDef="pubYear" class="pubYear-column">
        <th mat-header-cell *matHeaderCellDef>Year</th>
        <td mat-cell *matCellDef="let book">{{ book.pubYear }}</td>
      </ng-container>
      <ng-container matColumnDef="edit" class="edit-column">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let book">
          <button mat-raised-button class="btn-edit" (click)="editBook(book)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete" class="delete-column">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let book">
          <button mat-raised-button class="btn-delete">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

  </div>
</div>
