<div class="main-container">
  <mat-grid-list cols="5" gutterSize="30">
    <mat-grid-tile>Book 1</mat-grid-tile>
    <mat-grid-tile>Book 2</mat-grid-tile>
    <mat-grid-tile>Book 3</mat-grid-tile>
    <mat-grid-tile>Book 4</mat-grid-tile>
    <mat-grid-tile>Book 5</mat-grid-tile>
    <mat-grid-tile>Book 6</mat-grid-tile>
    <mat-grid-tile>Book 7</mat-grid-tile>
    <mat-grid-tile>Book 8</mat-grid-tile>
    <mat-grid-tile>Book 9</mat-grid-tile>
    <mat-grid-tile>Book 10</mat-grid-tile>
  </mat-grid-list>
</div>
