/*-------------header modal and childrens styles----------------*/

.header-modal {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-close{
  margin-top: .5em;
  color: #dadad9;
  background-color: #a29f9d;
  border-radius: 2pt;
}

.header-close-icon{
  width: 90%;
  margin-bottom: -1em;
  padding: .5em .5em;
  display: flex;
  justify-content: flex-end;
}

.mat-delete-icon {
  color: #b54e56;
  transform: scale(1.5);
  margin: 0em 1em -.5em 1em
}

.header-modal-title {
  font-weight: 600;
  font-size: 14pt;
  color: #b54e56;
}

.mat-icon:hover {
  cursor: pointer
}

/*-----------------body modal and children styles-------------------*/

.body-modal {
  padding: 1em;
  background-color: #ebebeb;
}

.body-modal .form {
  display: grid;
  grid-gap: 1em;
}

.body-modal .form div {
  display: flex;
  flex-direction: column;
}

.delete-message {
  color:rgba(128, 128, 128, 0.267);
  font-weight: 500;
  font-size: 14pt;
}

/*----------------footer modal and chindren styles--------------------*/

.footer-modal {
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0em 1em 1em 1em;
}

.footer-modal .footer-modal-btn-cancel {
  background-color: rgba(128, 128, 128, 0.267);
  margin-right: 1em;
  color: gray;
}

.footer-modal .modal-footer-btn-confirm {
  background-color: #b78d5d;
  color: white;
}
